<div id='formular-novPrijatelj' style="display: none;">
    <div class='row column'>
        <form id="forma-novPrijatelj" data-abide novalidate action="../sql/add_friend.php"  method="post">
            <div data-abide-error class='alert callout' style='display: none;'>
                <p><i class='fi-alert'></i> Postoje greške u formularu.</p>
            </div>
            <input type="hidden" id="ProjekatIdP" name="ProjekatIdP" value="">
            <div class='small-12 medium-6 columns'>
                <label>
                    Odaberi tip prijatelja:
                    <select class='Tip' name='Tip' onchange="ucitaj_podtipove()" required>
                        <option value=''></option>
                    </select>
                </label>
                <label>
                    Odaberi podtip prijatelja:
                    <select class='Podtip' name='Podtip' onchange="ucitaj_prijatelje()" required>
                        <option value=''></option>
                    </select>
                </label>
            </div>

            <div class='small-12 medium-6 columns'>
                <label>
                    Odaberi prijatelja:
                    <select class='listaPrijatelja' name='Prijatelj' required>
                        <option value=''></option>
                    </select>
                </label>
                <label>
                    Odaberi korisnika koji je zadužen za ovog prijatelja:
                    <select class='listaSvihUcesnika' name='Zaduzen' required>
                        <option value=''></option>
                    </select>
                </label>
            </div>

            <button type='submit' name='novPrijatelj' id='novPrijatelj' class='expanded button'>Dodaj novog prijatelja</button>
            <a href='#0' id='odustaniOdPrijatelja' name='odustaniOdPrijatelja' class='expanded button'>Odustani</a>

        </form>
    </div>
</div>