<div id='formular-izmenaLozinke' style="display: none;">
    <div class='row column'>
        <form id="forma-izmenaLozinke" data-abide novalidate action="../sql/update_password.php" method="post">

            <div data-abide-error class='alert callout' style='display: none;'>
                <p><i class='fi-alert'></i> Postoje greške u formularu.</p>
            </div>

            <div class='small-12 medium-6 columns'>
                <label>
                    Lozinka
                    <input type='password' id='novaLozinka' name='novaLozinka' required>
                </label>
            </div>

            <div class='small-12 medium-6 columns'>
                <label>
                    Ponovi lozinku
                    <input type='password' name="novaLozinkaAgain" required data-equalto='novaLozinka'>
                </label>
                <span class='form-error'>
                    Lozinke moraju biti jednake!
                </span>
            </div>

            <button type='submit' id="izmeniLozinku" name="izmeniLozinku" class='expanded button'>Potvrdi izmene</button>
            <a href='#0' id='odustaniOdIzmeniLozinku' class='expanded button'>Odustani</a>

        </form>
    </div>
</div>